# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\개인\IdeaProjects\springboot-aws\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
